/* CargaMasiva.css */
.carga-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.carga-table th,
.carga-table td {
  border: 1px solid #ccc;
  padding: 0.6rem;
  text-align: center;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.procesar-btn {
  background-color: var(--cmsf-verde);
  color: var(--cmsf-blanco);
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.cancelar-btn {
  background-color: #ccc;
  color: #000;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}